Options +FollowSymlinks
RewriteEngine On

#admin

RewriteCond %{REQUEST_URI} ^/adminlte/(admin) 
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^admin/img/(.*)$ backend/web/img/$1 [L]
RewriteRule ^admin/uploads/(.*)$ backend/web/uploads/$1 [L]

RewriteCond %{REQUEST_URI} !^/adminlte/backend/web/(assets|css)/
RewriteCond %{REQUEST_URI} ^/adminlte/(admin) 
RewriteRule ^.*$ backend/web/index.php [L]


#website

RewriteCond %{REQUEST_URI} ^/adminlte/
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^uploads/(.*)$ frontend/web/uploads/$1 [L]

RewriteCond %{REQUEST_URI} !^/adminlte/(frontend|backend)/web/(assets|css)/
RewriteCond %{REQUEST_URI} ^/adminlte/
#RewriteCond %{REQUEST_FILENAME} !-f  [OR]
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php [L]