
.schools-section-1 {
  background-image: none;
}

.schools-section-1 .u-sheet-1 {
  min-height: 100vh;
  margin-bottom: 10vh;
}

.schools-section-1 .u-layout-wrap-1 {
  width: 100vw;
  margin: 79px -230px 60px;
}

.schools-section-1 .u-layout-cell-1 {
  min-height: 137px;
}

.schools-section-1 .u-container-layout-1 {
  padding: 0;
}

.schools-section-1 .u-group-1 {
  width: 70vw;
  min-height: 115px;
  animation-duration: 1000ms;
  height: auto;
  margin: 0 auto 0 40px;
}

.schools-section-1 .u-container-layout-2 {
  padding-left: 40px;
  padding-right: 40px;
}

.schools-section-1 .u-icon-1 {
  width: 65px;
  height: 65px;
  color: rgb(85, 42, 105) !important;
  margin: 15px auto 0 13px;
}

.schools-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -55px auto 0 128px;
  /*word-break: break-all;*/
  text-align: left;


}

@media (max-width: 1199px) {

  .schools-section-1 .u-layout-wrap-1 {
    /*width: 940px;*/
    /*min-height: 1800px;*/
    margin-left: 0;
    margin-right: 0;
  }

  .schools-section-1 .u-layout-cell-1 {
    min-height: 120px;
  }

  .schools-section-1 .u-group-1 {
    /*width: 913px;*/
    min-height: 100px;
    margin-top: 0;
    margin-left: 0;
    height: auto;
  }

  .schools-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .schools-section-1 .u-icon-1 {
    margin-top: 12px;
    margin-left: 53px;
  }

  .schools-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 181px;
  }

}

@media (max-width: 991px) {

  .schools-section-1 .u-layout-wrap-1 {
    margin-top: 46px;
    /*min-height: 1756px;*/
    margin-right: initial;
    margin-left: 23px;
    width: auto;
  }

  .schools-section-1 .u-layout-cell-1 {
    min-height: 108px;
    margin-left: -78px;
  }

  .schools-section-1 .u-group-1 {
    min-height: 87px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .schools-section-1 .u-icon-1 {
    margin-top: 1px;
  }

  .schools-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

}

@media (max-width: 767px) {

  .schools-section-1 .u-layout-wrap-1 {
    /*min-height: 1800px;*/
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .schools-section-1 .u-layout-cell-1 {
    min-height: 147px;
    margin-left: -38px;

  }

  .schools-section-1 .u-group-1 {
    min-height: 82px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .schools-section-1 .u-icon-1 {
    margin-top: 0;
    margin-left: 15px;
  }

  .schools-section-1 .u-text-1 {
    margin-left: 136px;
  }

}

@media (max-width: 575px) {

  .schools-section-1 .u-layout-wrap-1 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .schools-section-1 .u-layout-cell-1 {
    min-height: 68px;
  }

  .schools-section-1 .u-group-1 {
    min-height: 60px;
    margin-top: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .schools-section-1 .u-icon-1 {
    width: 59px;
    height: 59px;
    margin-right: 265px;
    margin-left: 16px;
  }

  .schools-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 92px;
    font-size: 1rem;
  }

}