    .gridview-header-text{
        color: #605ca8;
        text-align: center;
        font-weight: 1000;
        text-transform: uppercase;
        /*text-decoration: underline;*/
    }
    .gridview-header{
        height: auto;
        width: auto;
        /*display: flex;*/
        align-items: center;
        text-align: center;
        justify-content: space-around;
        /*background-color: #ffffff;*/
                }

   .gridview-header a, .gridview-header li {
        color: #6f42c1;
        /*margin: 0 10px;*/
    }
    .gridview-header li a, .gridview-header li span  {
        font-weight: bold;
        font-size: x-large;
                }
   .gridview-header select, .gridview-header input[type = text] {
        color: #605ca8 ;
        border-radius: 10px;
            }
  .gridview-header textarea {
        color: #605ca8 ;
        height: inherit;
        border-radius: 10px;
            }
    .gridview-header input[type = file]{
        display: block;
        color: pink;
        border: 5px;
    }

    .gridview-header .pagination{
        margin: 100px;
    }
    

    .gridview-purple-cell{
        background-color : #605ca8;
        color: #ffffff;
        text-align: left;
        }
     .gridview-gray-cell{
        background-color : #bfbfbf !important/*#BFBFBF*/;
        text-align: left;
        }
     .gridview-gray-cell td:not(:last-child) {
        filter: blur(0.5rem);
        }


    .gridview-image-index{
        max-width: 350px ;
            }

    .gridview-image-view{
        height: 400px ;
        width: auto;
    }


    .gridview-image-form{
        max-height: 100px ;
        width: auto;
        display: block;
        margin-bottom: 0px;
    }

    .gridview-image-passp{
        height: 4in ;
        width: 3.5in;
    }






    .gridview-menu-buttons-container{
        height: auto;
        width: auto;
        box-shadow: -7px -7px 17px rgba(255,255,255,0.2),
                    7px 7px 17px rgba(70,70,70,0.1);
        position: relative;
        margin: 16px;
        top: 0px;
        bottom:0px;
        left: 0px;
        right: 0px;
        border-radius: 20px;
        /*display: grid;*/
        /*display: inline-block;*/
        display: flex;
        align-items: center;
        vertical-align: center;
        justify-content: space-around;
                }
    .gridview-menu-buttons-container a, .gridview-menu-buttons-container button{
        height: 30px;
        width: 30px;
        box-shadow: -7px -7px 17px rgba(255,255,255,0.2),
                7px 7px 17px rgba(70,70,70,0.1);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; 
        font-size: 16px;
        color: #ffffff;
        background-color: #6a46cb ;
        /*padding-bottom: 20px;*/
                }
    .gridview-menu-buttons-container a:hover, .gridview-menu-buttons-container button:hover{
     color: #ffffff;
            }
    .gridview-menu-buttons-container a:active, .gridview-menu-buttons-container button:active{
    box-shadow: inset -7px -7px 17px rgba(255,255,255,0.6),
                inset 7px 7px 17px rgba(70,70,70,0.15); 

}


/*___________________________________________________________*/

.file-input{
    background-color: #EEE;
    width: 250px;
    height: 170px;
    border: 1px solid #CCC;
    position: relative;
    z-index: 5;
    /*border-radius: 50px;*/
    padding-left: 10px ;
    margin-bottom: 20px;
}
.file-input > span{
    font-family: Tahoma, Arial;
    font-size: 15px;
    align-items: center;
    display: inline-block;
    padding: 5px;
    height: -170px;
}
.file-input input[type="file"]{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.file-input:after{
    content: 'Upload';
    width: auto;
    height: 30px;
    padding: 5px;
    color: #fff;
    background-color: #605ca8;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: Tahmoa, Arial;
    border-radius: 50px;

}

/*.checkbox-div{
    width: 200px;
    height: 50px;
}
.checkbox-div .checkbox{
    font-size: 20px;
    position: relative;
    display: block;
    opacity: 0;
    cursor: pointer;
    background-color: #605ca8;
    }
.checkbox-div .checkbox-span{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 44px;
    width: 44px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid pink;

}
.checkbox-div .checkbox-span::after{
    position: absolute;
    content: 'Hide';
    left: 12;
}*/


/*-----------------------------------*/
.checkbox-input{
    background-color: #605ca8;
    vertical-align: middle;
    margin: 30px 0;
    padding: 10px;
}

.checkbox-input .checkbox{
    height: 18px;
    width: 18px;
    display: inline;
    margin: auto;
}
.checkbox-input .checkbox-label{
    color: #ffffff;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
}


/*
*Validation rules errors
*/
 .help-block{
    color: red !important;

}


/* check box list */

.cbl label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .cbl label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .cbl label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .cbl label input:checked ~ .checkmark {
    background-color: #605ca8;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .cbl label span:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .cbl label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .cbl label .checkmark:after {
    left: 5px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
