.leadership .u-section-leaders {
  background-image: none;
}

.leadership .u-section-leaders ..u-sheet-leaders {
  min-height: 1078px;
}

.leadership .u-section-leaders .u-group-1 {
  width: 1766px;
  min-height: 1078px;
  height: auto;
  margin: 0 auto 0 -327px;
}

.leadership .u-section-leaders .u-container-layout-1 {
  padding: 30px 0;
}

.leadership .u-section-leaders .leaders-list {
  width: 1636px;
  margin: -853px auto 60px -262px;
}

.leadership .u-section-leaders .u-repeater-1 {
  min-height: 616px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.leadership .u-section-leaders .u-container-layout-2 {
  padding: 0;
}

.leadership .u-section-leaders .u-group-2 {
  width: 292px;
  min-height: 375px;
  height: auto;
  transition-duration: 0.25s;
  margin: 22px auto 0;
}

.leadership .u-section-leaders .u-image-1 {
  background-image: url("../uploads/default-profile.png");
}

.leadership .u-section-leaders .u-container-layout-3 {
  padding: 20px 22px;
}

.leadership .u-section-leaders .u-text-1 {
  letter-spacing: 9px;
  font-size: 3rem;
  margin: 7px auto 20px 57px;
}

.leadership .u-section-leaders .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 60px;
}

.leadership .u-section-leaders .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 22px auto 0 60px;
  padding: 0;
}

.leadership .u-section-leaders .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.leadership .u-section-leaders .u-container-layout-4 {
  padding: 0;
}

.leadership .u-section-leaders .u-group-3 {
  width: 292px;
  min-height: 375px;
  height: auto;
  transition-duration: 0.25s;
  margin: 22px auto 0;
}

.leadership .u-section-leaders .u-image-2 {
  background-image: url("../uploads/default-profile.png");
}

.leadership .u-section-leaders .u-container-layout-5 {
  padding: 20px 22px;
}

.leadership .u-section-leaders .u-text-3 {
  letter-spacing: 9px;
  font-size: 3rem;
  margin: 7px auto 20px 57px;
}

.leadership .u-section-leaders .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto 0 60px;
}

.leadership .u-section-leaders .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 22px auto 0 60px;
  padding: 0;
}

.leadership .u-section-leaders .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.leadership .u-section-leaders .u-container-layout-6 {
  padding: 0;
}

.leadership .u-section-leaders .u-group-4 {
  width: 292px;
  min-height: 375px;
  height: auto;
  transition-duration: 0.25s;
  margin: 22px auto 0;
}

.leadership .u-section-leaders .u-image-3 {
  background-image: url("../uploads/default-profile.png");
}

.leadership .u-section-leaders .u-container-layout-7 {
  padding: 20px 22px;
}

.leadership .u-section-leaders .u-text-5 {
  letter-spacing: 9px;
  font-size: 3rem;
  margin: 7px auto 20px 57px;
}

.leadership .u-section-leaders .u-text-6 {
  font-size: 1.25rem;
  margin: 0 auto 0 60px;
}

.leadership .u-section-leaders .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: 22px auto 0 60px;
  padding: 0;
}

.leadership .u-section-leaders .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.leadership .u-section-leaders .u-container-layout-8 {
  padding: 0;
}

.leadership .u-section-leaders .u-group-5 {
  width: 292px;
  min-height: 375px;
  height: auto;
  transition-duration: 0.25s;
  margin: 22px auto 0;
}

.leadership .u-section-leaders .u-image-4 {
  background-image: url("../uploads/default-profile.png");
}

.leadership .u-section-leaders .u-container-layout-9 {
  padding: 20px 22px;
}

.leadership .u-section-leaders .u-text-7 {
  letter-spacing: 9px;
  font-size: 3rem;
  margin: 7px auto 20px 57px;
}

.leadership .u-section-leaders .u-text-8 {
  font-size: 1.25rem;
  margin: 0 auto 0 60px;
}

.leadership .u-section-leaders .u-btn-4 {
  background-image: none;
  border-style: none;
  margin: 22px auto 0 60px;
  padding: 0;
}

.leadership .u-section-leaders .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .leadership .u-section-leaders ..u-sheet-leaders {
    min-height: 689px;
  }

  .leadership .u-section-leaders .u-group-1 {
    width: 1232px;
    min-height: 578px;
    margin-top: 111px;
    margin-left: -171px;
    height: auto;
  }

  .leadership .u-section-leaders .leaders-list {
    width: 982px;
    margin-top: -562px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .leadership .u-section-leaders .u-repeater-1 {
    min-height: 425px;
  }

  .leadership .u-section-leaders .u-group-2 {
    width: 208px;
    min-height: 252px;
    margin-top: 0;
    margin-right: 8px;
    height: auto;
  }

  .leadership .u-section-leaders .u-text-1 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 32px;
  }

  .leadership .u-section-leaders .u-text-2 {
    width: auto;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-btn-1 {
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-group-3 {
    width: 208px;
    min-height: 252px;
    margin-top: 0;
    margin-right: 8px;
    height: auto;
  }

  .leadership .u-section-leaders .u-text-3 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 32px;
  }

  .leadership .u-section-leaders .u-text-4 {
    width: auto;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-btn-2 {
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-group-4 {
    width: 208px;
    min-height: 252px;
    margin-top: 0;
    margin-right: 8px;
    height: auto;
  }

  .leadership .u-section-leaders .u-text-5 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 32px;
  }

  .leadership .u-section-leaders .u-text-6 {
    width: auto;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-btn-3 {
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-group-5 {
    width: 208px;
    min-height: 252px;
    margin-top: 0;
    margin-right: 8px;
    height: auto;
  }

  .leadership .u-section-leaders .u-text-7 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 32px;
  }

  .leadership .u-section-leaders .u-text-8 {
    width: auto;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-btn-4 {
    margin-left: 35px;
  }
}

@media (max-width: 991px) {
  .leadership .u-section-leaders ..u-sheet-leaders {
    min-height: 1053px;
  }

  .leadership .u-section-leaders .u-group-1 {
    width: 720px;
    margin-left: 210px;
  }

  .leadership .u-section-leaders .leaders-list {
    margin-top: -640px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .leadership .u-section-leaders .u-repeater-1 {
    min-height: 914px;
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .leadership .u-section-leaders .u-container-layout-2 {
    padding-right: 39px;
    padding-bottom: 25px;
    padding-left: 41px;
  }

  .leadership .u-section-leaders .u-group-2 {
    width: 221px;
    min-height: 267px;
    margin-top: 22px;
    margin-right: auto;
  }

  .leadership .u-section-leaders .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-text-2 {
    margin-top: 7px;
  }

  .leadership .u-section-leaders .u-btn-1 {
    margin-top: 11px;
  }

  .leadership .u-section-leaders .u-container-layout-4 {
    padding-right: 39px;
    padding-bottom: 25px;
    padding-left: 41px;
  }

  .leadership .u-section-leaders .u-group-3 {
    width: 221px;
    min-height: 267px;
    margin-top: 22px;
    margin-right: auto;
  }

  .leadership .u-section-leaders .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-text-4 {
    margin-top: 7px;
  }

  .leadership .u-section-leaders .u-btn-2 {
    margin-top: 11px;
  }

  .leadership .u-section-leaders .u-container-layout-6 {
    padding-right: 39px;
    padding-bottom: 25px;
    padding-left: 41px;
  }

  .leadership .u-section-leaders .u-group-4 {
    width: 221px;
    min-height: 267px;
    margin-top: 22px;
    margin-right: auto;
  }

  .leadership .u-section-leaders .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-text-6 {
    margin-top: 7px;
  }

  .leadership .u-section-leaders .u-btn-3 {
    margin-top: 11px;
  }

  .leadership .u-section-leaders .u-container-layout-8 {
    padding-right: 39px;
    padding-bottom: 25px;
    padding-left: 41px;
  }

  .leadership .u-section-leaders .u-group-5 {
    width: 221px;
    min-height: 267px;
    margin-top: 22px;
    margin-right: auto;
  }

  .leadership .u-section-leaders .u-text-7 {
    width: auto;
    margin-top: 11px;
    margin-left: 35px;
  }

  .leadership .u-section-leaders .u-text-8 {
    margin-top: 7px;
  }

  .leadership .u-section-leaders .u-btn-4 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .leadership .u-section-leaders ..u-sheet-leaders {
    min-height: 1857px;
  }

  .leadership .u-section-leaders .u-group-1 {
    width: 540px;
    margin-left: 300px;
  }

  .leadership .u-section-leaders .leaders-list {
    width: 353px;
    margin-left: auto;
    margin-right: auto;
  }

  .leadership .u-section-leaders .u-repeater-1 {
    min-height: 1748px;
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .leadership .u-section-leaders .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-text-1 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-text-2 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-btn-1 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-text-3 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-text-4 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-btn-2 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-text-5 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-text-6 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-btn-3 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .leadership .u-section-leaders .u-text-7 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-text-8 {
    margin-left: auto;
  }

  .leadership .u-section-leaders .u-btn-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .leadership .u-section-leaders .u-group-1 {
    width: 340px;
    margin-left: 400px;
  }

  .leadership .u-section-leaders .leaders-list {
    width: 340px;
  }

  .leadership .u-section-leaders .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}