/*BREADCRUMB & TITLE*/

.bread-section-1 {
  background-image: url("../uploads/about-image-bg-2.jpg");
  background-position: 50% 50%;
  min-height: 398px;
}

  .bread-section-1 .u-group-1 {
  min-height: 222px;
  background-image: linear-gradient(rgba(0,0,0,0), black);
  width: 100%;
  margin: 176px 0 0;
}

  .bread-section-1 .u-container-layout-1 {
  padding: 0;
}

  .bread-section-1 .u-text-1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 85px auto 0 198px;
  width: 50%;
}

.bread-section-1 .u-group-2 {
  width: 521px;
  min-height: 60px;
  height: auto;
  margin: -68px 105px 0 auto;
}


@media (max-width: 1199px) {
    .bread-section-1 {
    background-position: 50% 60.11%;
  }

    .bread-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

    .bread-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 172px);
    font-size: 3rem;
  }
    .bread-section-1 .u-group-2 {
    width: 478px;
    min-height: 52px;
    margin-top: -53px;
    margin-right: 53px;
    height: auto;
  }


}

@media (max-width: 991px) {
    .bread-section-1 .u-text-1 {
    width: auto;
    margin-top: 117px;
    margin-left: 93px;
  }
}

@media (max-width: 767px) {
    .bread-section-1 .u-text-1 {
    margin-top: 106px;
    margin-left: auto;
  }

      .bread-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
    .bread-section-1 {
    min-height: 297px;
  }

    .bread-section-1 .u-group-1 {
    margin-top: 75px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

    .bread-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 135px;
  }
}  

  .bread-section-1 .breadcrumb{
    background:transparent !important;
    padding: 0;
    font-size: 1.2em;

  }

  .bread-section-1 .breadcrumb a{
    color: white;
  }








/*ERROR PAGE*/

.section-error {
  background-image: url("../uploads/wall.jpg");
  background-position: 50% 50%;
}

.section-error .u-sheet-1 {
  min-height: 100vh;
  padding: 0 0 70px 0;
}

.section-error .u-group-1 {
  width: 763px;
  min-height: 751px;
  background-image: none;
  box-shadow: 6px 6px 0px 0 rgba(0,0,0,0.2);
  margin: 129px auto 0;
}

.section-error .u-container-layout-1 {
  padding: 50px;
}

.section-error .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
}

.section-error .u-text-2 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 28px auto 0;
}

.section-error .u-text-3 {
  background-image: none;
  font-size: 1.375rem;
  font-weight: 600;
  margin: 35px 1px 0;
}

.section-error .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 56px auto 0;
  padding: 20px 77px;
}

@media (max-width: 991px) {
  .section-error .u-group-1 {
    width: 720px;
}

.section-error .u-container-layout-1 {
    padding: 30px;
}

.section-error .u-text-3 {
    margin-left: 0;
    margin-right: 0;
}
}

@media (max-width: 767px) {
  .section-error .u-sheet-1 {
    min-height: 787px;
}

.section-error .u-group-1 {
    min-height: 647px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
}

.section-error .u-text-2 {
    font-size: 2.25rem;
}
}

@media (max-width: 575px) {
  .section-error .u-sheet-1 {
    min-height: 740px;
}

.section-error .u-group-1 {
    min-height: 600px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.section-error .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.section-error .u-text-1 {
    font-size: 7.5rem;
}

.section-error .u-text-2 {
    font-size: 1.875rem;
}

.section-error .u-text-3 {
    font-size: 1.25rem;
}

.section-error .u-btn-1 {
    margin-top: 40px;
}
}